# Environment
.env
.env.local
.env.production

# Java / Gradle
backend/.gradle/
backend/build/
backend/out/
*.class
*.jar


# Node.js
node_modules/
.next/
dist/
.vercel/

# IDE
.idea/
*.iml
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

.vercel
.env*.local
